body {
  max-width: 800px;
  margin: 0 auto;
}
#avatar {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}
#date {
  position: absolute;
  top: 50px;
  left: 650px;
}
span {
  font-weight: bold;
}
#name {
  position: absolute;
  top: 20px;
  left: 650px;
  font-size: 150%;
  text-transform: uppercase;
}
table {
  margin-top: 20px;
  margin-left: 70px;
  border-bottom: 1px solid black;
}
a {
  color: black;
}
