body {
  background-color: #ffff99;
  font-family: Helvetica;
  width: 800px;
}

h1 {
  color: #ff6600;
  padding: 10px;
  font-family: Impact;
  border: 3px solid #ff6600;
}

h2 {
  color: white;
  padding: 10px;
  font-family: Courier New;
  background-color: #ff6600;
}

ol {
  color: white;
  padding: 5px;
  background-color: #ffcc00;
}

li {
  padding: 10px;
}

p {
  padding: 5px;
  border: 2px dotted #ffcc00;
}
