/* responsive header */
/* screen pc */
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

/* screen tablet & mobile */
@media (max-width: 767.98px) {
  .header__bar {
    position: relative;
  }
  .header__nav {
    display: none;
  }
  .header__name {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .header__bag {
    position: absolute;
    top: 50%;
    right: 0%;
    translate: -50% -50%;
  }
  .menu-header__icon {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 25px;
    height: 25px;
    color: #fff;
  }
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-wrap {
    position: fixed;
    background-color: black;
    inset: 0 70% 0 0;
    transform: translateX(-100%);
    padding: 5%;
    opacity: 1;
    z-index: 2;
  }
  .menu-checkbox:checked ~ .menu-wrap {
    transform: translateX(0);
  }
  .menu-wrap__top {
    display: flex;
    justify-content: flex-end;
  }
  .close__menu {
    width: 25px;
    height: 25px;
    color: #ffffff;
  }
  .menu__bar--mobile {
    margin-top: 100px;
  }
  .nav__item {
    margin-top: 15px;
    padding: 5px 5px;
  }
  .nav__item:hover {
    background-color: #dddada;
    border-radius: 20px;
  }
  .header__text h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .header__text p {
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .header__text--search {
    border-radius: 28px;
    margin-top: 1rem;
    padding: 0 0.25rem 0 0.625rem;
  }
  #search-input {
    font-size: 0.8rem;
  }
  #icon-search {
    width: 25px;
    height: 25px;
  }
}
/* screen mobile */
@media (max-width: 639.98px) {
  .header__text {
    height: 60vh;
  }
  .header__text h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .header__text--search {
    padding: 0 0.28rem 0 1rem;
  }
  .header--choose {
    display: flex;
    flex-direction: column;
  }
  .products {
    padding-top: 1rem;
  }
  .products__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .products__menu {
    margin: 0.5rem auto 0 auto;
  }
  .products__menu--item {
    padding: 0.3rem 0.5rem;
  }
  .products__lists {
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }
  .products__lists--items {
    margin: 0 auto;
    width: 60%;
    height: 50%;
    padding: 1rem 0.625rem;
  }
  .products__lists--items img {
    width: 100%;
    height: 60%;
  }
  .content {
    padding: 3.125rem 0 0 0;
  }
  .content__experiences {
    height: 100vh;
    flex-direction: column;
  }
  .content__experiences--pic {
    flex: 2;
  }
  .content__experiences--info {
    flex: 1;
    padding: 0 1.5rem;
  }
  .empty {
    display: none;
  }
  .information {
    justify-content: flex-start;
    gap: 1rem;
  }
  .information__bol {
    font-size: 1.5rem;
  }
  .content__materials {
    flex-direction: column;
    gap: 3rem;
  }
  .content__materials-info {
    padding: 5% 0 0 0;
  }
  .content__testimonials--text {
    margin-bottom: 1.5rem;
  }
  .content__testimonials--title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .content__testimonials--clients {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  footer {
    padding-top: 2rem;
  }
  .footer--wrap a {
    font-size: 1.2rem;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__contacts--text {
    font-size: 2rem;
  }
  .footer__contacts--text p {
    font-size: 1.2rem;
    padding-right: 0rem;
  }
  .contacts__item {
    padding: 1rem 0rem;
  }
  .footer__copy p {
    font-size: 1rem;
  }
  .footer__copy--privacy {
    text-align: center;
  }
}
/* screen table small */
@media (min-width: 640px) and (max-width: 767.98px) {
}
/* screen table large and laptop */
@media (min-width: 768px) and (max-width: 1023.98px) {
}
/* screen desktop */
@media (min-width: 1024px) {
}
