.decor {
  text-decoration: underline;
  text-shadow: 3px 10px 5px red;
}
.it1 {
  text-decoration: line-through;
  text-indent: 100px;
  text-shadow: 1px 2px 10px black;
}
.it1 p.intro:first-letter {
  font-size: 200%;
}
.it2 {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.it3 {
  text-decoration: blink;
  word-spacing: 0.3em;
}
