body {
  max-width: 800px;
  margin: 0 auto;
}
#logo {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  border-radius: 50%;
}
#name {
  margin-left: 80px;
  font-size: 150%;
  text-transform: uppercase;
}

.order {
  padding-left: 50px;
  padding-top: 5px;
}
#size {
  padding: 3px;
  width: 200px;
  margin-bottom: 10px;
}
